{{>header}}
{{>navbar}}
   <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
               <div class="main_content">
                   <form action="" class="temp_form">

                       <input type="text" id="cityName" placeholder="Enter your city name" auticomplete="off">
                       <input type="submit" value="Search" id="submitBtn">
                   </form>
               </div>
               <div class="tempInformation"></div>

            </div>
        </div>
    </div>
    {{>footer}}