  {{>links}}
  
   <header class="header">
        <div class="left">

            <img id="logo" src="../images/logo.png" alt="">

            <div>
                <div>Keshav Fitness Club</div>
            </div>
        </div>
        <div class="mid">
            <nav class="navbar">
                <ul>
                    <li> <a href="/" class="active">Home</a> </li>
                    <li> <a href="https://www.covicarehelp.in">Fitness Calculator</a> </li>
                    <li>
                         <a href="https://github.com/potatooBot">{{ myName }}</a>
                         
                         </li>
                    <li> <a href="/contact" > About us</a> </li>
                </ul>
            </nav>
        </div>
          </header>