<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keshav Fitness</title>
   {{>links}}





</head>

<body>

 {{>header}}
        <div class="right">



            <button class="btn" onclick="location.href='https://www.google.com'">Quote</button>
            <button class="btn">Motivation Bell</button>
        

        </div>

   {{>body}}



  
{{>footer}}
</body>

</html>